@import "../../../styles/responsive.scss";
$mobile_sup: 365px;


.find_index_containar_h {
  @include responsive($mobile_sup) {
    width: 97%;
  }
  @include responsive($laptop) {
    width: 97%;
    max-width: 992px;
  }
  padding: 10px 0;

  .find_index_item_h {
    @include responsive($mobile_sup) {
      flex-direction: column;
      gap: 10px;
    }
    @include responsive($tablet) {
      flex-direction: row;
      gap: 20px;
    }
    display: flex;
    margin-bottom: 10px;

    .find_index_text_h {
      @include responsive($mobile_sup) {
        width: 100%;
        padding:0  20px;
        flex-wrap: wrap;
      }
      @include responsive($tablet) {
        width: 80%;
      }

      line-height: 20px;

      display: flex;
      gap: 10px;

      a {
        display: block;
        font-size: 0.75rem;
        &:hover {
          color: orange;
        }
      }
    }
    .find_index_titr_h {
      @include responsive($mobile_sup) {
        width: 100%;
      }
      @include responsive($tablet) {
        width: 20%;

      }
      font-size: 0.75rem;
      line-height: 20px;
    }
  }
}
